<div class="container mt-4">

  <div class="row">
    <div class="col-12 m-auto">

      <form method="POST" action="/record/{{record._id}}">
        <div class="row col-12 mb-3">
          <label class="col-2 col-form-label">*必填欄位</label>
          <div class="col-6">
            <h5 style="display:inline;">
              請修改你的支出
            </h5>
          </div>

        </div>
        <div class="row col-12 mb-3">
          <label for="inputPassword" class="col-2 col-form-label">名稱<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="text" class="form-control" id="name" name="name" value="{{ record.name }}">
          </div>
        </div>

        <div class="row col-12 mb-3">
          <label for="date" class="col-2 col-form-label">日期<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="date" class="form-control" id="date" name="date" value="{{ formatDate }}">
          </div>
        </div>

        <div class="row col-12 mb-3">
          <label for="category" class="col-2 col-form-label">類別<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            {{!-- 這邊真的不容易捏，從這邊開始寫 --}}
            <select class="form-select" name="category" id="category" required>
              
              <option value={{ record.categoryNumber }} selected>{{ record.category }}</option>

              {{#each filterCategory}}
              <option value="{{ this.id }}">{{ this.name }}</option>
              {{/each}}

            </select>

          </div>
        </div>


        <div class="row col-12 mb-3">
          <label for="amount" class="col-2 col-form-label">金額<span style="vertical-align: top;">*</span>：
          </label>
          <div class="col-6">
            <input type="number" class="form-control" id="amount" name="amount" value="{{ record.amount }}">
          </div>
        </div>

        <div class="row col-3 m-auto mb-3">
          {{!-- <div class="col-6 m-auto"> --}}
            <button class="btn btn-outline-dark" type="submit">送出</button>
            {{!--
          </div> --}}
        </div>


      </form>
    </div>
  </div>

</div>