<div class="container mt-4">


  <!-- search bar -->
  <div class="row mb-4" id="select-bar">
    <div class="col-12">
      <form action="/search">
        <select class="form-select" aria-label="Default select example">
          <option selected>類別</option>
          <option value="1">家居物業</option>
          <option value="2">旅遊出行</option>
          <option value="3">休閒娛樂</option>
          <option value="4">餐飲食品</option>
          <option value="5">其他</option>
        </select>
      </form>
    </div>
  </div>


  <table class="table table-striped table-borderless">
    <thead>
      <tr>
        <th scope="col" colspan="2">總金額：</th>
        <th scope="col" colspan="3" style="text-align: end;">{{ totalAmount }}</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      {{#each records}}
      <tr>
        <td>icon</td>
        <td colspan="3">{{ this.name }}</td>
        <td style="text-align: end;">{{ this.amount }}</td>
        <td> </td>
        <td>
          <a href="/record/{{ this._id }}/edit" style="text-decoration:none; color:grey;">修改</a>
        </td>
        <td>
          <a href="/record/{{ this._id }}/delete" action="/restaurant/{{this._id}}?_method=DELETE" method="POST"
            style="text-decoration:none; color:grey;">刪除</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="row mb-4" style="text-align: center;">
    <a href="/record/new" style="text-decoration:none;">
      <button type="button" style="background-color: orange; color:aliceblue;" class="btn btn-outline-primary mx-3">
        新增支出
      </button>
    </a>
  </div>

</div>